.List {
  border: 2px solid grey;
  padding: 15px 40px 15px 15px;
  max-height: 85vh;
  width: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 420px) {
  .List {
    padding: 15px 0;
  }
}
